body {
    background-color: #343434;
    font-family: 'Montserrat', sans-serif;
}

.banner {    
    background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url('/images/labs.jpeg');    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    
}

nav {
    text-transform: uppercase;
    overflow: hidden;
    list-style-type: none;
    float: right;
    display: block;    
    margin-top: 14px;
    grid-area: nav;    
}

header {
    float: left;
}

.title {
    margin-top: 0;
}

/* Links inside the navbar */
nav a {
    font-size: 16px;
    padding: 16px 16px;
    height: 40px;
}

nav a:hover, nav a.current {
    color: #587BF5;    
}

main {
    margin-left: 50px;
    margin-right: 50px
}

header,
nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.banner_button {
    top: 18%;
    left: 70%;
    font-size: 19px;
    background-color: #587BF5;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    position: absolute;
    text-align: center;
}

.button_front  {
    overflow: hidden;
    list-style-type: none;
    display: block;  
    text-decoration: none;
    color: white;
    height: 100%;
    line-height: 70px;
}



.banner_button:hover  a {    
    border-radius: 10px;
    background-color: white;
    color: #587BF5;
}

section {
    position: absolute;
    margin-top: 520px;
    margin-right: 50px;
}

.facts {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 46px;
    width: 1100px;
}

.info {
    color: white;
}
