* {
    font-family: 'Oswald', sans-serif;
    color: #fff8f0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;    
    width: 100vw;
}

.banner {  
    display: grid; 
    align-items: center;
    justify-items: center; 
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('/images/classroom.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height: 600px;   
    position: relative; 
}

.nav {
    background-color: #fff8f0;    
    height: 75px;
    width: 100vw;
}

.nav ul {
  list-style-type: none;  
  overflow: hidden;
  margin-left: 32px;
}

.nav li a {
    display: block;
    color: #2b4141;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    float: left;
    font-size: 21px;
  }

.nav a:hover, .nav a.current {
    background-color: #7E7F9A;
    color: #fff8f0;
}

.container h1 {
    color: #2b4141;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 42px;
    margin-top: 8px;
}

.banner-text {
    width: 100%;
    position: relative;
}

.banner-info h2 {
    color: #fff8f0;
    font-size: 64px;  
}

.banner-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1057px;
  height: 300px;
  text-align: center;
    justify-content: center;
}

.button-blog {
    width: 264px;
    height: 74px;
    display: inline-block;
    background-color: #65B891;
    border-radius: 15px;
    margin-top: 24px;
   
}

.button-front {
    font-size: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b4141;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 15px;
}

.button-front:hover {
    background-color: #7E7F9A;
    color: #fff8f0;
}

.info {
    display: grid;
    grid-template-areas: "l-side main main r-side";
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.badge {
    grid-area: l-side;
    width: 400px;
}

.info p {
    color: #2b4141;
    grid-area: main;
}

.learn {
    grid-area: r-side;
    width: 400px;
    
}

.learn-link {
    display: flex;
    width: 190px;
    height: 54px;
    background-color: #65B891;
    color: #2b4141;
    border-radius: 15px;
    text-decoration: none;
    overflow: hidden;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

.learn-link:hover {
    background-color: #7E7F9A;
    color: #fff8f0;
}

.circle {    
    height: 200px;
    width: 200px;
    position: absolute;
    left: 7%;
    bottom: 7%;
}

.circle img {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 10px solid #7E7F9A;
}