body {
    background-color: #343434;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

.banner {    
    background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url('/images/labs.jpeg');    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    
}

section {
    margin-left: 50px;
    margin-right: 50px;
}

.flex-container {
    flex-direction: column;
    margin-top: 390px;
}



.flex-container-2 {
    display: flex; 
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    align-items: stretch;
    align-content: space-around;
    margin-top: 75px;
}

.flex-column-1 {
    display: flex;
    flex-direction: column;
}

.flex-column-2 {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.flex-row-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding: 0;
    height: 70px;
}

.flex-row-1 h2 {
    margin: 0;
}

.flex-author {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.flex-author h5 {
    padding-right: 50px;
}

.flex-column-2 h2 {
    text-align: center;    
}

.flex-header-img {
    display: flex;
    flex-direction: row;
}

.flex-header-img header {
    margin-left: 30px;
}

.flex-img-article{
    max-height: 141px;
    max-width: 251px;
}


footer {
    margin-top: 40px;
   
}

footer p {
    text-align: right;
    padding: 6px;
    margin-right: 50px;
}

.flex-nav {
    margin-left: 50px; 
    margin-right: 50px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
}

header h1 {
    flex-grow: 1;
}


nav a {
    font-size: 16px;
    padding: 16px 16px;
}

nav a:hover, nav a.current {
    color: #587BF5;    
}

nav a {
    text-decoration: none;
    color: white;
}

nav {
    text-transform: uppercase;
    overflow: hidden;
    list-style-type: none;
    float: right;
    display: block;    
    padding: 10px;
    text-align: center;    
}
.facts {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 46px;
    width: 1100px;
}
.banner_button {    
    font-size: 19px;
    background-color: #587BF5;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    text-align: center;
    align-self: center;
    margin-left: 200px;
}

.button_front  {
    overflow: hidden;
    list-style-type: none;
    display: block;  
    text-decoration: none;
    color: white;
    height: 100%;
    line-height: 70px;
}

.banner_button:hover  a {    
    border-radius: 10px;
    background-color: white;
    color: #587BF5;
}

.flex-part1 {
    display: flex;
    height: 150px;
}